//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 08 13 19:39:35 2024

IO_LOC "LEDS[5]" 20;
IO_PORT "LEDS[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "LEDS[4]" 19;
IO_PORT "LEDS[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "LEDS[3]" 18;
IO_PORT "LEDS[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "LEDS[2]" 17;
IO_PORT "LEDS[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "LEDS[1]" 16;
IO_PORT "LEDS[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "LEDS[0]" 15;
IO_PORT "LEDS[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "CLK" 10;
IO_PORT "CLK" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEY[1]" 87;
IO_PORT "KEY[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEY[0]" 88;
IO_PORT "KEY[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
